# Importing

Importing the libraries

In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Kaggle Connection

[How to do it from Kaggle](https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/)

[Git Sample](https://github.com/tthustla/twitter_sentiment_analysis_part1/blob/master/Capstone_part2.ipynb)

Keggle credentials: {"username":"sashakorovkina","key":"f0b0ccfae31792cea26e2b52e4362ff8"}

In [ ]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! kaggle datasets download piterfm/2022-ukraine-russian-war

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [ ]:
! unzip 2022-ukraine-russian-war

Archive:  2022-ukraine-russian-war.zip
replace russia_losses_equipment.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
df = pd.read_csv('russia_losses_equipment.csv')

In [ ]:
df.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system
0,2022-02-25,2,10,7,80,516,49,4,100,60,0,2,0,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130,60,2,2,0,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130,60,2,2,0,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291,60,3,2,5,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305,60,3,2,7,NaN,NaN

#Download Data

In [3]:
! kaggle datasets download arushchillar/disneyland-reviews

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [4]:
! unzip disneyland-reviews

unzip:  cannot find or open disneyland-reviews, disneyland-reviews.zip or disneyland-reviews.ZIP.

In [5]:
df = pd.read_csv('DisneylandReviews.csv', encoding='latin-1')

In [6]:
df.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42656 entries, 0 to 42655
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Review_ID          42656 non-null  int64
 1   Rating             42656 non-null  int64
 2   Year_Month         42656 non-null  object
 3   Reviewer_Location  42656 non-null  object
 4   Review_Text        42656 non-null  object
 5   Branch             42656 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.0+ MB

#Analysing Ratings

Deleting unnecessary columns

In [8]:
df['Branch'].unique()

array(['Disneyland_HongKong', 'Disneyland_California', 'Disneyland_Paris'],
      dtype=object)

In [15]:
df['Rating'].unique()

array([4, 3, 5, 2, 1])

In [10]:
df = df[df.Rating != ' and we have been massive Disney fans for many years']

In [11]:
df.groupby('Branch').count()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text
Branch,,,,,
Disneyland_California,19406,19406,19406,19406,19406
Disneyland_HongKong,9620,9620,9620,9620,9620
Disneyland_Paris,13630,13630,13630,13630,13630

In [16]:
del df["Review_ID"]
del df["Year_Month"]
del df["Reviewer_Location"]

In [19]:
df['Rating'].dtype
df['Rating'].astype(str).astype(int)

dtype('int64')

In [ ]:
df['Branch'].dtype
df['Branch'].astype(str)

0        Disneyland_HongKong
1        Disneyland_HongKong
2        Disneyland_HongKong
3        Disneyland_HongKong
4        Disneyland_HongKong
                ...
42651       Disneyland_Paris
42652       Disneyland_Paris
42653       Disneyland_Paris
42654       Disneyland_Paris
42655       Disneyland_Paris
Name: Branch, Length: 42656, dtype: object

In [ ]:
print(df['Rating'].dtype)
df['Rating'] = df['Rating'].astype(str).astype(int)
print(df['Rating'].dtype)

Total = int((df['Rating'].sum()))//73497
print (Total)

int64
int64
2

In [ ]:
total_paris = int(df.loc[df['Branch'].isin(['Disneyland_Paris']), 'Rating'].sum())/13630
print(total_paris)

3.96008804108584

In [ ]:
total_hongkong = int(df.loc[df['Branch'].isin(['Disneyland_HongKong']), 'Rating'].sum())/9620
print(total_hongkong)

4.204158004158004

In [ ]:
total_california = int(df.loc[df['Branch'].isin(['Disneyland_California']), 'Rating'].sum())/19406
print(total_california)

4.405338555086056